:root {
  /* Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap");
body {
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.main {
  display: flex;
}
.user,
.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}
h1,
.mission {
  margin-left: 4rem;
}
h1 {
  color: var(--Very-Dark-Magenta);
  margin-top: 4rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700px;

  font-size: 2rem;
}
.ratings {
  margin-top: 3rem;
  margin-left: 10rem;
}
.mission {
  color: var(--Very-Dark-Magenta);
  font-family: "League Spartan", sans-serif;
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5rem;
}

.reviews,
.report-guru,
.best-tech {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: var(--Light-Grayish-Magenta);
}
.star-container img:first-child {
  padding-left: 1rem;
}
.report-guru {
  margin-left: 4rem;
}
.best-tech {
  margin-left: 8rem;
}
.star-container {
  display: flex;
  justify-content: center;
}

.star-container img {
  max-width: 20px;
  height: auto;
}
span {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  color: hsl(300, 43%, 22%);
  padding-left: 1rem;
}
.article {
  display: flex;
  width: 100%;
  margin-left: 4rem;
  margin-top: 2rem;
}
.profile-1,
.profile-2,
.profile-3 {
  width: 350px;
  margin: 1rem;
  height: 200px;
  background: var(--Very-Dark-Magenta);
  border-radius: 10px;
}
.profile-2 {
  margin-top: 2rem;
}
.profile-3 {
  margin-top: 3rem;
}
.img-1,
.img-2,
.img-3 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 1.5rem;
  vertical-align: middle;
  margin-bottom: 0;
  margin-top: 1rem;
}
.identity {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.3rem;
  margin-top: 1rem;
}
.name {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Light-Grayish-Magenta);
  margin-top: 1rem;
  vertical-align: text-bottom;
}
.status {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Dark-Grayish-Magenta);
  margin-top: 1rem;
  vertical-align: text-bottom;
}
blockquote {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Very-Dark-Magenta);
  margin-left: 2rem;

  vertical-align: text-bottom;
  color: var(--Light-Grayish-Magenta);
}
@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700px;
    text-align: center;
    margin-left: 0;
  }
  .mission {
    text-align: center;
    margin-left: 0;
    font-size: 12px;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
  }

  .reviews,
  .best-tech,
  .report-guru {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 80px;
  }
  .ratings {
    margin-left: 0;
  }
  .report-guru {
    margin-left: 0;
  }
  .best-tech {
    margin-left: 0;
  }
  .star-container img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
  }
  .article {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  span {
    padding-bottom: 1rem;
  }
  .profile-1,
  .profile-2,
  .profile-3 {
    width: 300px;
    height: 220px;
    margin: 0.4rem;
  }
}
